:root {
    --main-border: rgb(222, 200, 195);

    --main-highlight: #9ff6ffff;
    --icon-highlight: rgb(197, 249, 254);
    --secondary-highlight: rgb(233, 253, 255);
    --tertiary-highlight: rgb(238, 252, 253);

    --button-brown: rgb(106, 39, 24);
    --logo-bdrop: rgb(67, 29, 20);
    --project-bdrop: rgb(255, 244, 242);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arvo', Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    min-height: 100vh;
    overflow: hidden;
}

body > .grid {
    display: grid;
    overflow: auto;
    min-height: 100vh;

    grid-template-columns: 150px 1fr 300px;
    grid-template-rows: 90px 100px 1fr;
}

.actions + .actions {
    margin-top: 20px;
}

.actions > div {
    display: flex;
    align-items: center;
    padding: 0 0 0 8px;
    height: 40px;    
}

.actions > div:hover {
    background-image: url(wood.png);
    background-size: 200px;

    border-left: 8px solid #9ff6ffff;
    color: #9ff6ffff;

    font-size: 1.1em;
    transition: all .2s ease-out;
    cursor: pointer;

}

.create {
    display: flex;
    justify-content: flex-start;
    gap: 2vw;

    padding-left: 25.8px;
}

.create > button {
    border: none;

    font-family: 'Arvo', Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;

    background-color: var(--button-brown);
    color: white;
    padding: 7px 12px 7px 12px;
    border-radius: 15px;
    white-space: nowrap;
}

.create > button:hover {
    transition: all .1s;
    background-color: #9ff6ffff;
    color: black;
    cursor: pointer;
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    display: flex;
    justify-content: space-between;

    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--main-border);

    padding-left: 10px;
    min-width: 600px;
}

.header > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
}

.info-container {
    grid-area: 2 / 3 / -1 / -1;
    border-left: 1px solid var(--main-border);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 20px;
    background-color: var(--secondary-highlight);
    overflow: hidden;
}

.info > div {
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 100%;
    padding: 10px;
    font-size: .8em;
    border-bottom: 1px solid rgb(217, 225, 226);
}

.info > div:last-child {
    border: none;
}

.info > div:hover {
    background-color: rgb(208, 230, 232);
    transition: all .3s;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding: 10px 0 10px 0;
    background-color: var(--logo-bdrop);
}

.logo > img {
    height: 40px;
}

.profile {
    display: flex;
    gap: 15px;

    padding: 0 10px 0 0;
}

.profile:hover {
    cursor: pointer;
}

.profile > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile > div > div:hover {
    transform: scale(1.03);
    transition: all .15s;
}

.profile > div:first-child > img {
    height: 25px;
    filter: brightness(0.0);
}

.profile > div:last-child > img {
    height: 50px;
    border: 8px solid transparent;
}

.profile > div:first-child > img:hover {
    /*filter: brightness(.8);*/
    transform: scale(1.20);
    transition: all .15s;
}

.profile > div:last-child > img:hover {
    background-color: #fff;
    border: 8px solid var(--icon-highlight);  
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.projects {
    grid-area: 2 / 2 / -1 / 2;
    display: flex;
    flex-direction: column;
    background-color: var(--project-bdrop);

    gap: 10px;
    flex-grow: 1;
    border: 25px solid var(--project-bdrop);
}

.project {
    margin-bottom: 10px;
    background-color: white;
    border-bottom: 1px solid var(--main-border);
    padding: 12px;
    border-radius: 15px;
}

.project:hover {
    background-color: var(--tertiary-highlight);
    transition: all .3s;
    cursor: pointer;
}

.scroll {
    overflow-y: scroll;
    scrollbar-width: thin;

    width: 100%;
    height: 100vh;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll::-webkit-scrollbar {
    display: none;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}

.search > label {
    width: 10%;
    max-width: 20px;
    text-align: right;
    margin-right: 5px;
}

.search > label > img {
    width: 100%;
    max-width: 16px;
}

.search > input {
    border: 1px solid grey;
    padding: 5px 12px 5px 12px;
    border-radius: 15px;
    width: 90%;
}

.search > input:focus {
    outline: 1px solid black;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-right: 1px solid rgb(222, 200, 195);
    background-color: white;
}

@media only screen and (max-width: 1000px) {
    .info-container {
        display: none;
    }
    .projects {
    grid-area: 2 / 2 / -1 / -1;  
    }
}